<?xml version="1.0" ?>
<robot name="robotiq_85_gripper" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper_macro_ros2.urdf.xacro" />
    
    <link name="world"/>

    <xacro:robotiq_85_gripper prefix="" parent="world" >
        <origin xyz="0 0 0.2" rpy="0 0 0"/>
    </xacro:robotiq_85_gripper>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find robotiq_85_description)/config/gripper_controller.yaml</parameters>
        </plugin>
    </gazebo>
</robot>
